body {
    background-color: rgb(22, 2, 2);
}
.head_1 {
/*We're not there yet because we need to add to the Google API for a font-effect */
    font-family: "Sofia", sans-serif;
    color:whitesmoke;   
    text-align: center;
}

.pic {
    display: block;
    margin: auto;
}

.descript {
    color:whitesmoke;
}

.para {
    color: whitesmoke;
}

.head_2 {
    color: whitesmoke;
}

ul {
    color: whitesmoke; 
}

.instruct {
    color: whitesmoke; 
}

ol {
    color: whitesmoke;
}